{{- define "main" }}
<section class="container" style="margin-top: 20px;">


  <hgroup>
    {{ partial "breadcrumbs.html" . }}
    <h1>{{ .Title }}</h1>
    <p>{{ .Description }}</p>
  </hgroup>

  <div style="margin-bottom: 2rem;">
    {{- if not (.Param
    "disableAnchoredHeadings") }} {{- partial "anchored_headings.html"
    .Content -}} {{- else }}{{ .Content }}{{ end }}
  </div>
  <a href="/contacto/" role="button" class="contrast outline">Contacta para mas informacion</a>
</section>

{{- end }}{{/* end main */}}
