				<!-- Additional Elements -->
                <section class="wrapper style1 align-center">
                    <div class="inner">
                        <h2>Precios</h2>
                        <p>No incluye los costes de la certificacion</p>
                        <div class="index align-left">

                        

                            <!-- Table -->
                                <section>
                                    <header>
                                        <h3>Precios</h3>
                                    </header>
                                    <div class="content">

                                        <div class="table-wrapper">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Description</th>
                                                        <th>Price</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Item 1</td>
                                                        <td>Ante turpis integer aliquet porttitor.</td>
                                                        <td>29.99</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Item 2</td>
                                                        <td>Vis ac commodo adipiscing arcu aliquet.</td>
                                                        <td>19.99</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Item 3</td>
                                                        <td> Morbi faucibus arcu accumsan lorem.</td>
                                                        <td>29.99</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Item 4</td>
                                                        <td>Vitae integer tempus condimentum.</td>
                                                        <td>19.99</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Item 5</td>
                                                        <td>Ante turpis integer aliquet porttitor.</td>
                                                        <td>29.99</td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="2"></td>
                                                        <td>100.00</td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>

                                        

                                    </div>
                                </section>

                            
                        </div>


                    </div>
                </section>
                <section class="wrapper style1 align-center">
                    <div class="inner">
                        <h2>Equipo necesario</h2>
                        <p>Material que necesitaras tener de antemano</p>
                        <div class="index align-left">

                        

                            <!-- Table -->
                                <section>
                                    <header>
                                        <h3>Precios</h3>
                                    </header>
                                    <div class="content">

                                        <div class="table-wrapper">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Description</th>
                                                        <th>Price</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Item 1</td>
                                                        <td>Ante turpis integer aliquet porttitor.</td>
                                                        <td>29.99</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Item 2</td>
                                                        <td>Vis ac commodo adipiscing arcu aliquet.</td>
                                                        <td>19.99</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Item 3</td>
                                                        <td> Morbi faucibus arcu accumsan lorem.</td>
                                                        <td>29.99</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Item 4</td>
                                                        <td>Vitae integer tempus condimentum.</td>
                                                        <td>19.99</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Item 5</td>
                                                        <td>Ante turpis integer aliquet porttitor.</td>
                                                        <td>29.99</td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="2"></td>
                                                        <td>100.00</td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>

                                        

                                    </div>
                                </section>

                            
                        </div>


                    </div>
                </section>
